@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100 font-sans;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 480px) {
  body {
    font-size: 15px;
    padding: 0 10px;
  }
}
